.list {
    display: flex;
    flex-direction: column;

    .list__item {
        display: grid;
        grid-template-columns: 150px 1fr 150px;
        grid-template-rows: 150px;
        grid-gap: $spacing-double;
        border: 1px solid #ddd;
        padding: $spacing-quadruple;
        box-sizing: border-box;
        margin-bottom: $spacing-double;

        &:hover {
            box-shadow: 0 0 4px transparentize($color: #000000, $amount: .8);
        }
    }


    .list__link {
        color: $color-indigo;
        display: block;
        padding: $spacing-triple;
    }
}
